<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatis.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.example.springbootmybatis.bean.Module" >
    <id column="M_ID_" property="mId" jdbcType="INTEGER" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    M_ID_, NAME_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module
    where M_ID_ = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module
    where M_ID_ = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.springbootmybatis.bean.Module" >
    insert into module (M_ID_, NAME_)
    values (#{mId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmybatis.bean.Module" >
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        M_ID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmybatis.bean.Module" >
    update module
    <set >
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where M_ID_ = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootmybatis.bean.Module" >
    update module
    set NAME_ = #{name,jdbcType=VARCHAR}
    where M_ID_ = #{mId,jdbcType=INTEGER}
  </update>
</mapper>