<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatis.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.example.springbootmybatis.bean.UserRole" >
    <result column="USER_ID_" property="userId" jdbcType="INTEGER" />
    <result column="ROLE_ID_" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.example.springbootmybatis.bean.UserRole" >
    insert into user_role (USER_ID_, ROLE_ID_)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmybatis.bean.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID_,
      </if>
      <if test="roleId != null" >
        ROLE_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>